@import url('https://css.gg/user.css');
@import url('https://css.gg/drive.css');
@import url('https://css.gg/credit-card.css');
@import url('https://css.gg/album.css');
@import url('https://css.gg/timer.css');
@import url('https://css.gg/toolbox.css');

body {
  background-color: rgb(48,49,52);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(48,49,52);
  min-height: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
}

.card {
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  background-color: rgb(36,37,38);
}

.loginInput {
  margin-top: 10px;
}

.loginBtnDiv {
  margin-top: 10px;
}

.loginBtn {
  min-width: 170px;
  padding: 5px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.discordLoginBtnDiv {
  margin-top: 10px;
}

.discordLoginBtn {
  min-width: 170px;
  padding: 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

.profileCard {
  justify-content: center;
  text-align: center;
  min-height: 1000px;
  margin: 25px;
  padding: 25px;
  background-color: rgb(36,37,38);
  border-radius: 5px;
}

.navText {
  color:white;
}

.navImg {
  max-width: 40px;
  max-height: 40px;
  border-radius: 25px;
  margin-left: 10px;
}

.sidebysideContainer {
    padding: 20px;
}

.boxContainer {
  width: 100%;
  float: left;
  padding: 20px;
}

.profileCardImg {
  border-radius: 10px;
}

.profileDetailText {
  color: white;
}

.col {
  text-align: top;
  padding-top: 25px;
  max-width: 250px;
  min-height: 1000px;
}

.sideNav {
  padding: 25px;
  text-align: left;
}

.nav-link {
  color: white;
}

.nav {
  min-height: 1000px;
}

.gg-drive{
  color: white;
}

.gg-user {
  color: white;
}

.gg-credit-card {
  color: white;
}

.gg-album {
  color: white;
}

.gg-timer {
  color: white;
}

.gg-toolbox {
  color: white;
}

.navItemParDiv {
  margin: 1rem;
  text-align: left;
}

.navItemChildDiv {
  display: inline-block;
  padding-left: 1rem;
  vertical-align: middle;
}

.navBrandImg {
  max-height: 50px;
  padding: 10px;
}