body {
  background-color: rgb(48,49,52);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(48,49,52);
  min-height: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
}

.card {
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  background-color: rgb(36,37,38);
}

.loginInput {
  margin-top: 10px;
}

.loginBtnDiv {
  margin-top: 10px;
}

.loginBtn {
  min-width: 170px;
  padding: 5px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.discordLoginBtnDiv {
  margin-top: 10px;
}

.discordLoginBtn {
  min-width: 170px;
  padding: 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
}